<!DOCTYPE html>
<html>
@{var head = new sapo.view.erazor.Util.Head("SAPO [erazor] – Summary");}@raw(head.execute())
<h1>Summary</h1>
<h2>Tickets</h2>
<table>
	<tr><td>Ticket</td><td>Opened</td><td>Closed</td></tr>
	@for (t in sapo.Spod.Ticket.manager.all()) {
	<tr><td><a href="erazor/ticket/@t.id">#@t.id</a></td><td>@t.opened_at</td><td>@if (t.closed_at != null) { @t.closed_at }</td></tr>
	}
</table>
<h2>Users</h2>
<table>
	<tr><td>Name</td><td>Email</td></tr>
	@for (u in sapo.Spod.User.manager.all()) {
	<tr><td>@u.name</td><td>@u.email</td></tr>
	}
</table>
</html>

