(: static function render() :)
<!DOCTYPE html>
<html>
<head>
(: Util.head("SAPO – Sobre") :)
</head>
<body>

	<!-- ABOUT -->
	<div class="container">

		<!-- HEAD -->
		(: Util.navbar() :)
		<ol class="breadcrumb">
			<li class="active">SOBRE</li>
		</ol>

		<div class="row" style="margin-top: 60px;">
			<div class="col-md-12">

				<hr />
				<div id="chart_div"></div>
			</div>
		</div>
	</div>

	(: Util.footer() :)
</body>
</html>
(: end :)

