(: import sapo.Spod :)

(: static function render(ticket:Spod.Ticket) :)
<!DOCTYPE html>
<html>
(: Util.head('SAPO [tink_template] – Ticket #${ticket.id}') :)
<body>
<h1>Ticket #(: ticket.id :)</h1>
(: for m in TicketMessage.manager.search($ticket == ticket) :)
<article>
	(: for p in m.text.split("\n\n") :)
	<p>(: p :)</p>
	(: end :)
	<footer>
		<p>Posted by (: m.author.name :) at (: m.posted_at :)</p>
	</footer>
</article>
(: end :)
</body>
</html>
(: end :)

