html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 120px;
    margin-bottom: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #EEE;
}

.btn {
    width: 100%;
}

.navbar-nav > li > a {
    font-size: 15px;
}

/*CORES GRUPOS*/

.super {
    color: #337AB7;
}

.telefonista {
    color: #666A18;
}

.supervisor {
    color: #B78433;
}

.pesquisador {
    color: #C34F4A;
}
