html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 90px;
    margin-bottom: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #EEE;
}
a:focus, a:hover {
    text-decoration: none;
}
.btn {
    width: 100%;
}

.navbar-nav > li > a {
    font-size: 15px;
}

.barraderolagem {
    overflow: auto;
    max-height: 300px;
}
.bloco {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
}
.viagem {
    display: block;
    margin-left: 194px;
    margin-top: 10px;
}

/*CORES GRUPOS*/

.super {
    color: #4C57B7;
}

.telefonista {
    color: #316A3F;
}

.supervisor {
    color: #B79E47;
}

.pesquisador {
    color: #C35150;
}

/*CORES STATUS*/

.completa {
    color: #0010B7;
}
.pendente {
    color: #B78F00;
}
.recusada {
    color: #C30200;
}
.aceita {
    color: #006A1F;
}

/*ESPAÇAMENTO PARA MOBILE*/

@media (max-width: 991px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        margin-top: 14px;
    }
}