html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 90px;
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
a:focus, a:hover {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #EEE;
}

.btn {
    width: 100%;
}
.navbar-nav > li > a {
    font-size: 15px;
}
.barraderolagem {
    overflow: auto;
    max-height: 300px;
}
.bloco {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
}
.viagem {
    display: block;
    margin-left: 98px;
    margin-top: 10px;
}
.rodape {
    color: #777;
    display:inline-block;
    font-size: 14px;
    line-height: 14px;
}
.rodape a {
    color: #777;
}
.rodape_logo {
    height:50px;
    float:right;
    opacity: 0.5;
}

/*CORES GRUPOS*/

.super {
    color: #59B7A8;
}

.telefonista {
    color: #AD54C3;
}

.supervisor {
    color: #B76A40;
}

.pesquisador {
    color: #646A31;
}

/*CORES STATUS*/

.completa {
    color: #4C57B7;
}
.pendente {
    color: #B79E47;
}
.recusada {
    color: #C35150;
}
.aceita {
    color: #316A3F;
}

/*ESPAÇAMENTO PARA MOBILE*/

@media (max-width: 991px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        margin-top: 14px;
    }
}
